/* -----------------COLORES------------- */


/* #FEEEA3 #FFBD7A #682413 #BF3A1A #FFF5D0 */


/* ----------------GENERAL----------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: white;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bg-nav a {
    color: #feeea3;
}

h2 {
    font-weight: bold;
    color: #682413;
}

h6 {
    font-weight: normal;
    font-style: italic;
    color: rgb(181, 181, 181);
}

.main-header {
    text-align: center;
    background-color: #feeea3;
    padding: 1rem;
}

.main-nav__item {
    display: inline-block;
    background-color: #682413;
    padding: 0.3rem 0.8rem;
    margin: 1rem 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.main-nav__item:hover,
.main-nav__item:active {
    background-color: #462205;
}


/* -------------BODY------------- */

.bg-general {
    background-color: #ffbd7a;
    width: 100%;
}

.noticias-container {
    text-align: center;
}

.noticias {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.noticias-info {
    text-align: left;
    background-color: #fff5d0;
    display: inline-block;
    max-width: 25rem;
    margin: 0.5rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.noticia__header h2 {
    margin-bottom: 0.2rem;
}

.noticia__header h6 {
    margin-bottom: 1.5rem;
    font-size: small;
}

.noticias__desc p {
    margin-bottom: 3rem;
}

.noticia__footer {
    max-width: 100%;
}

.btn {
    text-align: right;
}

.noticia-btn {
    display: inline-block;
    background-color: #bf3a1a;
    padding: 0.2rem 1.2rem;
    border-radius: 0.4rem;
}